<header class="header">
	<div class="wrapper">
		
		<button class="toggle-menu open-menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<nav class="navbar">
			<ul class="navbar-menu">
				<li class="navbar-menu__item ">
					<a href="#" class="navbar-menu__link active">О нас</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Новости</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Отзывы</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Контакты</a>
				</li>
			</ul>

			<ul class="navbar-menu">
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Преимущества</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Спектр лечения</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Удаление татуировок</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Отбеливание зубов</a>
				</li>
				<li class="navbar-menu__item">
					<a href="#" class="navbar-menu__link">Фотогалерея</a>
				</li>

			</ul>
		</nav>
		
	</div>
</header>